doctype 5
html(lang="en")
  head
    script
      window.buttonUuid = "#{req.params.button_uuid}";
      window.sessionCsrf = "#{req.session._csrf}";
      window.assetsUrlBase = "#{ASSETS_URL_BASE}";
      window.parentUrl = "#{req.header('Referer')}";
      window.webUrlBase = "#{WEB_URL_BASE}";

    include partials/jquery-js.jade
    include partials/button-js.jade
    
    if req.param("tooltip") == "true"
      script
        window.hasTooltip = true;
        
    style(type="text/css")
      body { 
        margin: 0; 
        padding: 0; 
        font: normal normal 400 12px helvetica, arial, sans-serif;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
      }
      form {
        float: left;
      }
      #button-wrapper {
        position: relative;
      }
      #submit-button, #undo {
        background-image: url("#{ ASSETS_URL_BASE }/buttons/25c-#{ size }.png");
      }
      #submit-button {
        margin: 0; 
        padding: 0;
        border: 0px none transparent;
        cursor: pointer;
        width: #{ width }px;
        height: #{ height }px;
      }
      #undo {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }
      .btn-large > #undo, .icon-large > #undo {
        background-position: 0 12px;
        width: 12px;
        height: 12px;
      }
      .btn-medium > #undo, .icon-medium > #undo {
        background-position: 0 10px;
        width: 10px;
        height: 10px;
      }
      .btn-small > #undo, .icon-small > #undo {
        background-position: 0 8px;
        width: 8px;
        height: 8px;
      }
      div#counter-box { 
        display: none;
        position: relative;
        float: left;
        top: #{ height / 2 }px;
        margin: -10px 0 0 2px;
        height: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 1px 1px 1px;
        z-index: -20;
      }
      span#count {
        cursor: pointer;
      }
      span#count:hover {
        color: #08c;
      }
      input#count-input {
        font-size: 11px;
        display:none;
        width:30px;
        border:1px solid #ddd;
        margin:-3px 0 -1px 0;
        padding:0 1px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);

      }
      input#count-input:hover {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px rgba(82, 168, 236, 0.6);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px rgba(82, 168, 236, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px rgba(82, 168, 236, 0.6);
      }
      #check-icon {
        display:none;
        padding-left: 1px;
      }
      
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34638501-1']);
      _gaq.push(['_setDomainName', '25c.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    form(method="POST", target="_blank", action="/button/#{req.params.button_uuid}")
      input(type="hidden", name="_csrf", value=req.session._csrf)
      input(type="hidden", name="_referrer", value=referrer)
      #button-wrapper(class="#{size}")
        #submit-button
        div#undo
    #counter-box
      span#count 0
      span.if-input(style="display:none;") $
      input#count-input(type="text")
      img#check-icon(src="https://s3.amazonaws.com/assets.25c.com/style/check-icon.png")

