extends widget

block scripts
  | <script>
  include js/feed.js
  include js/jquery.animate-colors-min.js
  | </script>

block css
  style(type="text/css")
    h1 {
      font-size: 16px;
      margin: 0 0 20px 0;      
    }
    h2 {
    }
    body {
      position: relative;
      border: 1px solid #d2cfcf;
    }
    #signed-in {
      display: none;
    }
    #existing-user {
      margin-top: 5px;
    }
    #input-container {
      padding: 20px 20px 10px 20px;
      border-bottom: 1px solid #d2cfcf;
      margin: 0 0 -1px 0;
    }
    #input-container > h1 {
      margin: 0 48px 8px 0;
      float: left;
    }
    #input-container > h2 {
      float: left;
      margin-top: 3px;
      position: absolute;
      left: 180px;
    }
    #top-sponsors-header {
      padding-left: 34px;
    }
    #top-logo {
      position: absolute;
      right: 20px;
      top: 12px;
      width: 43px;
      height: 30px;
      background-repeat: no-repeat;
      background-image: url('#{ ASSETS_URL_BASE }/style/top-nav-logo.png');
    }
    #form-container {
      position: relative;
    }
    .user-image {
      display: none;
      left: 0px;
      top: 0px;
    }
    .user-image, .item-image {
      position: absolute;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      text-align: center;
      font-size: 11px;
      line-height: 1.1em;
      color: white;
      background: #365A63;
    }
    form.tip-form {
      width: 100%;
    }
    #sponsors-container {
      margin: 0 0 0 168px;
      height: 51px;
      overflow: hidden;
    }
    .sponsor-item {
      float: left;
      margin-left: 5px;
    }
    .sponsor-image {
      width: 50px;
      height: 50px;
      background: #9AAEB4;
    }
    #comment-container {
      display: none;
      position: absolute;
      border: 3px solid #d2cfcf;
      width: 100%;
      background: white;
      z-index: 1000;
      margin-top: 2px;
      box-shadow: 0 0 35px rgba(0,0,0,.2);
      box-sizing: border-box;
    }
    #comment-container h2 {
      margin-top: 0;
    }
    #comment-container .comment-cancel {
      float: right;
      margin-right: 10px;
      font: normal normal bold 11px Raleway, helvetica, arial, sans-serif;
      height: 19px;
      line-height: 20px;
      width: 80px;
      text-align: center;
      background-color: #999;
      color: white;
      padding: 0 5px;
      cursor: pointer;
      transition: background-color 0.25s;
      -moz-transition: background-color 0.25s;
      -webkit-transition: background-color 0.25s;
      -o-transition: background-color 0.25s;
    }
    #comment-container .comment-cancel:hover {
      background-color: #416b76;
    }
    #comment-container .comment-cancel.active {
      background-color: #365a63;
      -moz-box-shadow:    inset 0 3px 4px #284249;
      -webkit-box-shadow: inset 0 3px 4px #284249;
      box-shadow:         inset 0 3px 4px #284249;
    }
    #comment-container .comment-cancel.disabled {
      color: #999;
      background-color: #ddd;
      cursor: default;
    }
    #comment-container .tip-submit {
      float: right;
      height: 19px;
      line-height: 20px;
      margin-right: -11px;
      width: 80px;
      text-align: center;
    }
    textarea#comment-input {      
      font: inherit;
      font-size: 13px;
      height: 39px;
      width: 100%;
      border: 1px solid #d2cfcf;
      padding: 5px;
      line-height: 14px;
      resize: none;
    }
    textarea#comment-input.default, #pseudonym-container input.default {
      font-style: italic;
      color: #4c4c4c;
    }
    textarea#comment-input.error {
      color: #bf3a3a;
    }
    textarea#comment-input:focus, #pseudonym-container input:focus {
      outline: none;
      border: 1px solid #BAD7DF;
      -moz-box-shadow:    inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      -webkit-box-shadow: inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      box-shadow:         inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
    }
    #info-container {
      margin: 5px 0 0 0;
    }
    #pseudonym-container {
      //- display: none;
      position: relative;
      clear: both;
      font: normal normal normal 13px Raleway, helvetica, arial, sans-serif;
    }
    #pseudonym-container label {
      float: right;
      padding: 2px 5px 0 0;
      font: normal normal normal 11px Raleway, helvetica, arial, sans-serif;
    }
    #pseudonym-container input {
      float: right;
      padding: 0 0 1px 5px;
      margin-right: 0;
      margin-top: 0;
      font: inherit;
      font-size: 13px;
      border: 1px solid #d2cfcf;
    }
    #confirm-container {
      display: none;
      padding: 5px 10px 6px 10px;
      background-color: #fffde3;
      font: normal normal normal 11px Raleway, helvetica, arial, sans-serif;
    }
    #input-container .tip-container {
      position: absolute;
      top: 0;
      left: 0px;
    }
    #feed-container {
      display: none;
      position: relative;
      margin: 20px 0 0 0;
    }
    #feed-expand {
      display: none;
      position: absolute;
      bottom: -1px;
      height: 30px;
      width: 100%;
      background-color: #eff5f7;
      border-bottom: 1px solid #d2cfcf;
      cursor: pointer;
      text-align: center;
    }
    #feed-expand #expand-mask {
      position: absolute;
      top: 31px;
      left: -50%;
      background-color: white;
      width: 200%;
      height: 1000px;
    }
    #feed-expand h3#expand-title {
      margin: 0;
      border-top: 1px solid #d2cfcf;
      line-height: 30px;
    }
    #promote-container {
      position: relative;
      clear: both;
      display: none;
      background-color: #eff5f7;
      padding: 20px 0 20px 84px;
    }
    #promote-container .user-image {
      top: 20px;
      left: 85px;
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
    #promote-container .tip-container {
      position: absolute;
      top: 20px;
      left: 85px;
      border: 0px none transparent;
    }
    #promote-container .tip-send {
      padding: 0;
    }
    #promote-container #promote-text {
      margin: 0 20px 0 150px;
    }
    #feed-title {
      margin: 0 20px 5px 20px;
    }
    #feed-title + .feed-item {
      border-top: 0 none transparent;
    }
    #feed-title + .feed-item .item-body, #feed-title + .feed-item .item-name {
      font-size: 17px;
      line-height: 19px;
    }
    .feed-item {
      position: relative;
      padding: 15px 20px;
      border-top: 1px solid #d2cfcf;
    }
    .feed-item.initial {
      background-color: #fffde3;
    }
    .item-image {
      left: 20px;
      top: 15px;
    }
    .item-text {
      padding: 1px 0 0 0;
    }
    .item-hide {
      color: #bf3a3a;
      position: absolute;
      top: 15px;
      right: 20px;
      padding: 2px 5px;
      background-color: white;
      font: normal normal bold 12px Raleway, helvetica, arial, sans-serif;
    }
    .item-controls {
      float: right;
      background-color: #3f4e52;
      height: 20px;
      cursor: pointer;
      color: white;
      font: normal normal bold 12px Raleway, helvetica, arial, sans-serif;
    }
    .item-footer {
      background-color: #ddd;
      margin: 20px 0 0 0;
    }
    .item-like {
      float: left;
      width: 85px;
      height: 20px;
    }
    .item-total {
      float: left;
      margin-right: 10px;
    }
    .item-promote-container {
      float: left;
      height: 15px;
      width: 15px;
      background-color: #9aaeb4;
      padding: 4px 0 0 5px;
      color: white;
      cursor: pointer;
      font-size: 20px;
      transition: background-color 0.25s;
      -moz-transition: background-color 0.25s;
      -webkit-transition: background-color 0.25s;
      -o-transition: background-color 0.25s;
    }
    .item-promote-container:hover {
      background-color: #62828c;
    }
    .item-promote {
      height: 11px;
      width: 10px;
      background-image: url('#{ ASSETS_URL_BASE }/style/button-plus-minus.png');
      background-repeat: no-repeat;
    }

block content
  #fb-root
  script    
    window.fbAsyncInit = function() {
       FB.init({
         appId      : '#{ FB_APP_ID }',
         channelUrl : '//' + window.location.hostname + '/public/channel',
         status     : true,
         cookie     : true,
         xfbml      : true
       });
     };
     (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, /*debug*/ false));

  #input-container
    h1 
      span.bold Sponsor us!
    h1#top-sponsors-header
      span.bold Top Sponsors
    #top-logo
    #form-container.clear
      .user-image
      form.tip-form(method="POST", target="_blank", action="/tip/#{req.params.button_uuid}")
        input.comment-uuid(name="comment_uuid", type="hidden")
        include partials/_button_standard.jade
        #sponsors-container
        #comment-container
          div(style='padding:10px 22px 10px 10px')
            h2
              | Thank you for supporting us!
              span.normal &nbsp;&nbsp;Want to leave a note with your tip?
            textarea#comment-input.default(name="comment_text") Type a note here to tell people what you think...
            .tip-submit SUBMIT
            .comment-cancel SKIP
            .clear
        #info-container
          #pseudonym-container
            #signed-out
              a.sign-in(href="#") Sign up now 
              | and get 10 free points to start! 
              a.sign-in(href="#") Sign in as existing user...
            #signed-in
              |You have 
              span.balance-amount.bold 0 points
              |  to give.&nbsp;
              //- TODO: Update buy more points URL
              a(href="#{WEB_URL_BASE}/tipper/points", target="_blank") Buy&nbsp;more&nbsp;25c&nbsp;points...
              input.default(name="comment_pseudonym", type="text", value="Enter a pseudonym...")
              label Give anonymously:
            .clear
          #confirm-container 
            span#top-comment Note added! Add more points to see it rise to the top. 
            span#lower-comment Note added! Add more points to keep it at the top. 
            a#view-comment(href="#", data-uuid="") Click&nbsp;here&nbsp;to&nbsp;scroll&nbsp;to&nbsp;your&nbsp;note...
      .clear
  #feed-container
    #promote-container
      .user-image
      form.tip-form(method="POST", target="_blank", action="/tip/#{req.params.button_uuid}")
        input.comment-uuid(name="comment_uuid", type="hidden")
        include partials/_button_standard.jade
      #promote-text
        h1 
          .bold Add your points behind sponsor!        
          | You have 
          span.balance-amount.bold 0 points
          |  to give.
          a(href="#{WEB_URL_BASE}/tipper/points", target="_blank")  Get more points...
      .clear
    h2#feed-title What some of our top sponsors are thinking:
  #feed-expand
    #expand-mask
    h3#expand-title Show All Notes