extends widget

block scripts
  | <script>
  include js/feed.js
  include js/jquery.animate-colors-min.js
  | </script>

block css
  style(type="text/css")
    h1 {
      margin: 0 0 10px 0;
    }
    h2 {
      margin: 0 0 5px 0;
    }
    #outer-container {
      position: relative;
      border: 1px solid #d2cfcf;
      width: 650px;
    }
    #input-container {
      padding: 20px;
      border-bottom: 1px solid #d2cfcf;
      background-color: #eff5f7;
    }
    textarea#comment-input {
      font: inherit;
      float: left;
      height: 40px;
      width: 432px;
      border: 1px solid #d2cfcf;
      margin: 0;
      padding: 10px;
      line-height: 14px;
      resize: none;
    }
    textarea#comment-input.default {
      font-style: italic;
      color: #4c4c4c;
    }
    textarea#comment-input.error {
      color: red;
    }
    textarea#comment-input:focus {
      outline: none;
      border: 1px solid #BAD7DF;
      -moz-box-shadow:    inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      -webkit-box-shadow: inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      box-shadow:         inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
    }
    #input-container .tip-container {
      margin-top: 11px;
    }
    #feed-container {
      position: relative;
      margin: 20px 20px 30px 20px;
    }
    #feed-expand {
      position: absolute;
      bottom: -1px;
      height: 30px;
      width: 100%;
      background-color: #eff5f7;
      border-bottom: 1px solid #d2cfcf;
      cursor: pointer;
      text-align: center;
    }
    #feed-expand h3 {
      margin: 0;
      line-height: 30px;
    }
    #promote-container {
      position: absolute;
      right: 0;
      padding: 2px;
      display: none;
      border: 1px solid #d2cfcf;
    }
    .feed-item {
      border-bottom: 1px solid #d2cfcf;
      padding: 15px 0;
    }
    .feed-item:last-child {
      border-bottom: 0 none transparent;
    }
    .feed-item.initial {
      background-color: #FFEAAB;
    }
    .item-image {
      float: left;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      text-align: center;
      font-size: 11px;
      line-height: 1.1em;
      color: white;
    }
    .item-text {
      float: left;
      width: 470px;
      margin: 1px 0 0 15px;
    }
    .item-controls {
      float: right;
      background-color: #3f4e52;
      height: 20px;
      cursor: pointer;
      color: white;
      font: normal normal 600 12px helvetica, arial, sans-serif;
    }
    .item-total {
      line-height: 20px;
      display: none;
      padding: 0 0 0 8px;
    }
    .item-promote {
      float: right;
      height: 5px;
      width: 10px;
      margin: 7px 7px 0 7px;
      background-image: url('#{ ASSETS_URL_BASE }/style/button-arrows.png');
      background-repeat: no-repeat;
    }
    .item-promoters {
      margin: 10px 0 0 0;
    }
    .item-promoted-title {
      height: 20px;
      line-height: 20px;
      font-style: italic;
      float: left;
      margin: 0 10px 0 0;
    }
    .promoter-image {
      float: left;
      height: 20px;
      width: 20px;
      margin: 0;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      text-align: center;
      font-size: 11px;
      line-height: 1.1em;
      color: white;
    }

block content
  h1 Want to sponsor this content? It's easy! Add a note and tip as little as $0.25.
  #outer-container
    #input-container
      form.tip-form(method="POST", target="_blank", action="/button/#{req.params.button_uuid}")
        textarea#comment-input.default(name="message") What do you love about this content?
        include partials/_button_standard.jade 
      .clear
    #feed-container
      #info-container
      #promote-container
        form.tip-form(method="POST", target="_blank", action="/button/#{req.params.button_uuid}")
          input#comment-uuid(name="comment_uuid", type="hidden")
          include partials/_button_small.jade
      h2 Top Notes
      .feed-item#call-item
        .item-image(href="", target="_blank", style="background-image:url('#{ ASSETS_URL_BASE }/users/pictures/no_pic.png')")
          div YOUR FACE HERE
        .item-text#call-text
          .item-body Show your appreciation and be recognized for your support. 
            a(href="#{ WEB_URL_BASE }/faq", target="_blank") Learn more about 25c...
        .clear
    #feed-expand 
      h3 Show All Notes