doctype 5
html(lang="en")
  head
    script
      window.buttonUuid = "#{req.params.button_uuid}";
      window.sessionCsrf = "#{req.session._csrf}";
      window.assetsUrlBase = "#{ASSETS_URL_BASE}";
      window.parentUrl = "#{req.header('Referer')}";
      window.webUrlBase = "#{WEB_URL_BASE}";
    
    include partials/jquery-js.jade
    include partials/button-js.jade
    include partials/feed-js.jade

    style(type="text/css")
      body { 
        margin: 0; 
        color: #333;
        font: normal normal 400 13px helvetica, arial, sans-serif;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
      }
      #outer-container{
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 398px;
        height: 315px;
        overflow: hidden;
      }
      #input-container {
        background-color: #f6f6f6;
        padding: 10px;
      }
      #input-image {
        float: left;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 50px 50px;
      }
      #input-text {
        font: inherit;
        float: left;
        height: 46px;
        width: 230px;
        border: 1px solid #ddd;
        margin: 0 0 0 10px;
        padding: 2px 0 0 0;
        border-radius: 5px;
        line-height: 14px;
      }
      #input-text:focus {
        display: block;
      }
      #example-text {
        position: absolute;
        top: 2px;
        left: 63px;
        color: #aaa;
        width: 230px;
      }
      #button-container{
        position: relative;
      }
      #button-wrapper {
        margin-top: 5px;
        float: right;
        width: 72px;
        position: relative;
      }
      #submit-button, #undo {
        background-image: url("#{ ASSETS_URL_BASE }/buttons/25c-btn-large.png");
      }
      #submit-button {
        margin: 0; 
        padding: 0;
        border: 0px none transparent;
        cursor: pointer;
        width: 72px;
        height: 40px;
      }
      #undo {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }
      .btn-large > #undo, .icon-large > #undo {
        background-position: 0 12px;
        width: 12px;
        height: 12px;
      }
      #feed-container {
        position: relative;
        margin: 10px;
      }
      .feed-item {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        width: 378px;
      }
      .item-image {
        float: left;
        height: 42px;
        width: 50px;
        padding: 8px 0 0 0;
        background-repeat: no-repeat;
        background-size: 50px 50px;
        text-align: center;
        font-size: 11px;
        line-height: 1.1em;
        color: white;
      }
      
      .item-text {
        float: left;
        width: 318px;
        margin: 0 0 0 10px;
      }
      
      .item-title {
        display: block;
        margin-bottom: 5px;
        color: #f26422;
      }
      
      .clear{
        clear: both;
      }
      
      a:link, a:visited {
        color: #08c;
        text-decoration: none;
      }
      
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34638501-1']);
      _gaq.push(['_setDomainName', '25c.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #outer-container
      #input-container
        a#input-image(href="", target="_blank", style="background-image:url('#{ ASSETS_URL_BASE }/users/pictures/no_pic.png')")
        form#button-container(method="POST", target="_blank", action="/button/#{req.params.button_uuid}")
          textarea#input-text(name="message")
          div#example-text Leave a message and a tip. Your message will get higher the more you tip!
          input(type="hidden", name="_csrf", value=req.session._csrf)
          input(type="hidden", name="_referrer", value=referrer)
          #button-wrapper(class="btn-large")
            #submit-button
            #undo
        .clear
      #feed-container
        .feed-item#call-item
          .item-image(href="", target="_blank", style="background-image:url('#{ ASSETS_URL_BASE }/users/pictures/no_pic.png')")
            div YOUR FACE HERE
          .item-text#call-text
            .item-title Give a tip and your message will appear!
            .item-body Show your appreciation and be recognized for your support. 
              a(href="#{ WEB_URL_BASE }/faq", target="_blank") Learn more about 25c...
          .clear