if user != null
  if count > 0
    div <b>#{count} &times; 25c (= $#{(count * 25 / 100).toFixed(2)}) donated</b>
    span Click again to pledge another 25c
    span#button-title!
  else
    span Pledge 25c
    span#button-title &nbsp;and reward this content!
  div Share: #{referrer_url}
  div(style="padding-top:8px;")
    if user.pictureUrl != ""
      if user.nickname != ""
        a(href=user.nicknameUrl, style="text-decoration:none;")
          img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:5px;margin-right:5px;border-radius:2px;max-width:25px;max-height:25px;")
      else
        img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:5px;margin-right:5px;border-radius:2px;max-width:25px;max-height:25px;")
    div(style="float:left;padding-top:8px;") 
      if user.nickname != ""
        a(href=user.nicknameUrl, style="text-decoration:none;") #{user.displayName}
      else
        #{user.displayName}
    div(style="clear:both;")
else
  span Pledge 25c
  span#button-title &nbsp;and reward this content!
  div(style="padding-top:8px;")
    a(href="https://www.25c.com/", target="_blank") Learn more about 25c