if user != null
  script
    window.loggedIn = true;
    window.referrerUrl = "#{referrer_url}"
    window.userName = "#{user.displayName}"
  if count > 0
    div <b>#{count} &times; 25c (= $#{(count * 25 / 100).toFixed(2)}) pledged</b>
    span Click again to pledge more <br>
    span#button-title
  else
    span Pledge 25c
    span#button-title &nbsp;and reward this content!
  div(style="padding-top:8px;")
    if user.pictureUrl != ""
      if user.nickname != ""
        a(href=user.nicknameUrl, style="text-decoration:none;")
          img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:5px;margin-right:5px;border-radius:2px;max-width:25px;max-height:25px;")
      else
        img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:5px;margin-right:5px;border-radius:2px;max-width:25px;max-height:25px;")
    div(style="float:left;padding-top:8px;") 
      if user.nickname != ""
        a(href=user.nicknameUrl, target="_blank", style="text-decoration:none;") #{user.displayName}
      else
        #{user.displayName}
    div(style="clear:both;")
    div(style="float:left;margin:5px 5px 0 0;") Share:
    img#fb-share-link(src="http://assets.25c.com.s3.amazonaws.com/logos/facebook.png", style="cursor:pointer;padding-top:5px;height:20px;width:20px;")
    img#tw-share-link(src="http://assets.25c.com.s3.amazonaws.com/logos/twitter.png", style="cursor:pointer;padding-top:5px;height:20px;width:20px;margin-left:5px;")
else
  script
    window.loggedIn = false;
  span Pledge 25c
  span#button-title &nbsp;and reward this content!

  div(style="padding-top:8px;")
    a(href="https://www.25c.com/", target="_blank") Learn more about 25c