if user != null
  if count > 0
    | <b>#{count} &times; 25c (= $#{(count * 25 / 100).toFixed(2)}) donated.</b>
    #button-title Click again to micro-donate another 25c.
  else
    #button-title
      b Super-like it?
      | &nbsp;Click to like & micro-donate 25c!
  div(style="padding-top:8px;")
    if user.pictureUrl != ""
      if user.nickname != ""
        a(href=user.nicknameUrl, style="text-decoration:none;")
          img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:5px;margin-right:5px;border-radius:2px;max-width:25px;max-height:25px;")
      else
        img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:5px;margin-right:5px;border-radius:2px;max-width:25px;max-height:25px;")
    div(style="float:left;padding-top:8px;") 
      if user.nickname != ""
        a(href=user.nicknameUrl, style="text-decoration:none;") #{user.displayName}
      else
        #{user.displayName}
    div(style="clear:both;")
else
  #button-title
    b Super-like it?
    | &nbsp;Click to like & micro-donate 25c!
