style(type="text/css")
  #tip-25c-tooltip {
    position: absolute;
    z-index: 1000000000;
    left: 0;
    top: 0;
    width: 180px;
    visibility: hidden;
    padding: 10px;
    margin: 1px 0 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    line-height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  #tip-25c-tooltip * {
    font-family: Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    line-height: 16px !important;
    text-align: left !important;
    color: #333;
    text-decoration: none !important;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0px none transparent;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  #tip-25c-tooltip input#count-input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  }
  
  #tip-25c-tooltip input#count-input:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px rgba(82, 168, 236, 0.6);
  } 
  #tip-25c-tooltip #count:hover {
    color: #08c;
    cursor:pointer;
  }

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34638501-1']);
  _gaq.push(['_setDomainName', '25c.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

if user != null
  script
    window.loggedIn = true;
    window.referrerUrl = "#{referrer_url}";
    window.userName = "#{user.displayName}";
    window.pledgeName = "#{user.pledge_name}";
    
  div
    span.no-count Pledge 25c 
    span#count.if-number(style="display:none;font-weight:800;") 0
    span.if-input(style="display:none;font-weight:800;") $
    input#count-input(type="text", style="display:none;width:40px;border:1px solid #ddd; margin-top:-2px;padding:0 2px;")
    img#check-icon(src="https://s3.amazonaws.com/assets.25c.com/style/check-icon.png", style="display:none;padding:0 2px 3px 2px;")
    span.if-number(style="display:none;font-weight:800;") &nbsp;pledged 
    span#button-user(style="font-weight:800;") to&nbsp;this&nbsp;user
    span#button-title
  div.if-count(style="display:none") Click again to pledge more!
  div.if-self(style="display:none;color:#308014;") You cannot pledge to yourself.
  div(style="clear:both;")
  div(style="float:left;margin:5px 5px 0 0;") Share Your Pledge:
  img#fb-share-link(src="https://s3.amazonaws.com/assets.25c.com/logos/facebook-20.png", style="float:left;cursor:pointer;padding-top:3px;min-height:20px;width:20px;border-radius:")
  img#tw-share-link(src="https://s3.amazonaws.com/assets.25c.com/logos/twitter-20.png", style="float:left;cursor:pointer;padding-top:3px;min-height:20px;width:20px;margin-left:5px;")
  div(style="clear:both;padding-top:0px;")
    if user.pictureUrl != ""
      if user.nickname != ""
        a(href=user.nicknameUrl, style="text-decoration:none;color: #08c;")
          img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:2px;margin-right:5px;border-radius:2px;max-width:20px;max-height:20px;")
      else
        img(src=user.pictureUrl, style="float:left;display:block;border:0;margin-top:2px;margin-right:5px;border-radius:2px;max-width:20px;max-height:20px;")
    div(style="float:left;padding-top:4px;")
      if user.nickname != ""
        a(href=user.nicknameUrl, target="_blank", style="text-decoration:none;color: #08c;") #{user.displayName}
      else
        #{user.displayName}
    div(style="clear:both;")
else
  script
    window.loggedIn = false;
    window.referrerUrl = "";
    window.userName = "";
    window.pledgeName = "";
  div
    span Pledge 25c&nbsp;
    span#button-user to this user
    span#button-title
  div(style="padding-top:5px;")
    a(href="https://www.25c.com/", target="_blank", style="color: #08c;") Learn more about 25c.