doctype 5
html(lang="en")

  head
    link(href='https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:400,700', rel='stylesheet', type='text/css')
    | <script>
    include js/jquery-1.7.2.min.js
    include js/button.js
    | </script>

    script
      window.DEBUG_MODE = false;
      window.buttonUuid = "#{req.params.button_uuid}" || '999';
      window.buttonUrl = "#{req.query.url}" || '';
      window.sessionCsrf = "#{req.session._csrf}";
      window.assetsUrlBase = "#{ASSETS_URL_BASE}";
      window.usersUrlBase = "#{USERS_URL_BASE}";
      window.parentUrl = "#{req.header('Referer')}";
      window.webUrlBase = "#{WEB_URL_BASE}";
      window.testButton = window.location.pathname.indexOf('/publisher/widgets') != -1;
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34638501-1']);
      _gaq.push(['_setDomainName', '25c.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    block scripts
    
    style(type="text/css")
      body {
        margin: 0; 
        color: #000;
        font: normal normal normal 14px 'EB Garamond', Garamond, 'Palatino Linotype', Serif;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
      }
      h1  {
        font: normal normal normal 13px Raleway, helvetica, arial, sans-serif;
      }
      h2 {
        font: normal normal bold 13px Raleway, helvetica, arial, sans-serif;
      }
      h3 {
        font: normal normal bold 11px Raleway, helvetica, arial, sans-serif;
        text-transform: uppercase;
        color: #7c7b7b;
      }
      .bold {
        font-weight: bold;
      }     
      .tip-container {
        border: 1px solid #d2cfcf;
        position: relative;
        text-align: center;
      }
      .tip-send {
        padding: 5px;
      }
      input.tip-input, .tip-submit {
        font: normal normal bold 11px Raleway, helvetica, arial, sans-serif;
      }
      input.tip-input {
        width: 50px;
        float: left;
        height: 37px;
        padding: 0;
        margin: 0 2px;
        text-align: center;
        color: #3f4e52;
        border: 1px solid #d2cfcf;
        -moz-box-shadow:    inset 0 0px 5px #e2e2e2;
        -webkit-box-shadow: inset 0 0px 5px #e2e2e2;
        box-shadow:         inset 0 0px 5px #e2e2e2;
        -webkit-appearance: none;
      }
      input.tip-input:focus {
        outline: none;
        color: #202223;
        border: 1px solid #BAD7DF;
        -moz-box-shadow:    inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
        -webkit-box-shadow: inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
        box-shadow:         inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      }
      input.tip-input.disabled {
        color: #aaa;
        background-color: #f9f9f9;
        cursor: default;
      }
      .tip-controls {
        float: left;
      }
      .tip-increase, .tip-decrease {
        height: 19px;
        width: 20px;
        background-color: #9aaeb4;
        color: white;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        -webkit-transition: background-color 0.25s;
        -o-transition: background-color 0.25s;
      }
      .tip-increase:hover, .tip-decrease:hover {
        background-color: #62828c;
      }
      .tip-increase.active, .tip-decrease.active {
        background-color: #696969;
      }
      .tip-increase.disabled, .tip-decrease.disabled {
        color: #999;
        background-color: #ddd;
        cursor: default;
      }
      .tip-decrease {
        margin-top: 1px;
      }
      .tip-increase .tip-change, .tip-decrease .tip-change {
        position: relative;
        top: 5px;
        left: 5px;
        height: 11px;
        width: 10px;
        background-image: url('#{ ASSETS_URL_BASE }/style/button-plus-minus.png');
        background-repeat: no-repeat;
      }
      .tip-decrease .tip-change {
        top: 8px;
        height: 3px;
        background-position: 0 -11px;
      }
      .tip-submit {
        float: left;
        height: 39px;
        line-height: 40px;
        width: 50px;
        background-color: #3f4e52;
        color: white;
        padding: 0 5px;
        cursor: pointer;
        transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        -webkit-transition: background-color 0.25s;
        -o-transition: background-color 0.25s;
      }
      .tip-submit:hover {
        background-color: #416b76;
      }
      .tip-submit.active {
        background-color: #365a63;
        -moz-box-shadow:    inset 0 3px 4px #284249;
        -webkit-box-shadow: inset 0 3px 4px #284249;
        box-shadow:         inset 0 3px 4px #284249;
      }
      .tip-submit.disabled {
        color: #999;
        background-color: #ddd;
        cursor: default;
      }
      .tip-confirm {
        font: normal normal normal 13px Raleway, helvetica, arial, sans-serif;
        display: none;
        height: 49px;
        width: 146px;
        background-color: #eff5f7;
      }
      .tip-confirm > div {
        padding: 8px 0 2px 0; 
      }
      .tip-update {
      }
      .clear{
        clear: both;
      }
      a, a:link, a:visited {
        cursor: pointer;
        color: #08c;
        text-decoration: none;
      }
      
      #info-container {
        z-index: 10;
        position: absolute;
        display: none;
        background-color: #eff5f7;
        border: 1px solid #d2cfcf;
        padding: 5px;
        font: normal normal normal 13px Raleway, helvetica, arial, sans-serif;
      }
      #info-container .tip-amount {
        font-weight: bold;
      }
      
      
    block css

  body
    block content